
::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track-piece{
    background: var(--light-gray2);
}

main{
    height: calc(100% - var(--navbar-height));
}

.achievements{
    margin-top: 3%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.achievements .statContainer{
    width: 20%;
    min-width: 250px;
    aspect-ratio: 25 / 10;
    background: linear-gradient(to right, #ff8b59, #ffb696);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    color: var(--white);
}

.statContainer:nth-of-type(1) .statIcon{
    background: url("/images/barChart1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(2){
    background: linear-gradient(to right, #08c382, #0df4a0);
} 
.statContainer:nth-of-type(2) .statIcon{
    background: url("/images/barChart2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(3){
    background: linear-gradient(to right, #fb5d72, #f88f9f);
}
.statContainer:nth-of-type(3) .statIcon{
    background: url("/images/barChart3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(4){
    background: linear-gradient(to right, #00adaa, #00dade);
}
.statContainer:nth-of-type(4) .statIcon{
    background: url("/images/barChart4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer .stat{
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat .value{
    font-size: 1.4em;
    margin: 4px 0;
}

.stat .title{
    font-size: 1em;
}

.stat .statIcon{
    display: inline-block;
    height: 30px;
    aspect-ratio: 2 / 1;
}

.statContainer .footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statContainer .footer hr{
    width: 100%;
    outline: none;
    border: none;
    background: var(--white);
    height: 1px;
}

.updated{
    padding: 6px 12px;
    display: flex;
    align-items: center;
}

.updated .clockIcon{
    display: inline-block;
    background: url("/svgs/clock.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    height: 24px;

}

.footer .date{
    display: inline-block;
    height: 24px;
}

.activityListContainer{
    width: 45%;
    border: 2px solid var(--light-gray2);
    border-radius: 4px;
}

.boxContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 2%;
    width: 100%;
}

table{
    height: fit-content;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table .header{
    background: var(--light-gray2);
    height: 40px;
}

table .activity{
    height: 40px;
    background: var(--white);
    text-align: center;
}

.activities{
    background: url("/svgs/leaderboard.svg");
    background-position-x: 50%;
    height: 450px;
    overflow-y: scroll;
}

td span{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    padding: 3px 8px;
    background: var(--main);
    border-radius: 4px;
}

.activity ~ section.description{
    width: 400%;
    max-height: 0;
    overflow: hidden;
    background: var(--white);
    transition: 250ms all;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid var(--light-gray2);
}

.activity ~ section.description.viewed{
    max-height: 140px;
}

section.description .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}

section.description span{
    padding: 4px 10px;
} 

.graphContainer{
    width: 45%;
    position: relative;
}

.graphContainer .canvasContainer{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    .achievements .statContainer{
        width: 40%;
        aspect-ratio: 3 / 2;
        min-width: 0;
    }
    .statContainer:nth-of-type(1){
        background: url("/images/barChart1.png"), linear-gradient(to right, #ff8b59, #ffb696);
    } 
    .statContainer:nth-of-type(2){
        background: url("/images/barChart2.png"), linear-gradient(to right, #08c382, #0df4a0);
    } 
    .statContainer:nth-of-type(3){
        background: url("/images/barChart3.png"), linear-gradient(to right, #fb5d72, #f88f9f);
    }
    .statContainer:nth-of-type(4){
        background: url("/images/barChart4.png"), linear-gradient(to right, #00adaa, #00dade);
    }
    .achievements .statContainer{
        background-repeat: no-repeat;
        background-position: 85% 85%;
    }

    .activityListContainer{
        width: 90%;
    }

    .boxContainer{
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        margin-top: 5%;
    }

    main{
        overflow-y: scroll;
    }
}
