
::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track-piece{
    background: var(--light-gray2);
}

main{
    height: calc(100% - var(--navbar-height));
}

.achievements{
    margin-top: 3%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.achievements .statContainer{
    width: 20%;
    min-width: 250px;
    aspect-ratio: 25 / 10;
    background: linear-gradient(to right, #ff8b59, #ffb696);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    color: var(--white);
}

.statContainer:nth-of-type(1) .statIcon{
    background: url("/images/barChart1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(2){
    background: linear-gradient(to right, #08c382, #0df4a0);
} 
.statContainer:nth-of-type(2) .statIcon{
    background: url("/images/barChart2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(3){
    background: linear-gradient(to right, #fb5d72, #f88f9f);
}
.statContainer:nth-of-type(3) .statIcon{
    background: url("/images/barChart3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer:nth-of-type(4){
    background: linear-gradient(to right, #00adaa, #00dade);
}
.statContainer:nth-of-type(4) .statIcon{
    background: url("/images/barChart4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.statContainer .stat{
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat .value{
    font-size: 1.4em;
    margin: 4px 0;
}

.stat .title{
    font-size: 1em;
}

.stat .statIcon{
    display: inline-block;
    height: 30px;
    aspect-ratio: 2 / 1;
}

.statContainer .footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statContainer .footer hr{
    width: 100%;
    outline: none;
    border: none;
    background: var(--white);
    height: 1px;
}

.updated{
    padding: 6px 12px;
    display: flex;
    align-items: center;
}

.updated .clockIcon{
    display: inline-block;
    background: url("/svgs/clock.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    height: 24px;
}

.footer .date{
    display: inline-block;
    height: 24px;
}

.activityListContainer{
    width: 45%;
    border: 2px solid var(--light-gray2);
    border-radius: 4px;
}

.boxContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 2%;
    width: 100%;
}

table{
    height: fit-content;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table .header{
    background: var(--light-gray2);
    height: 40px;
}

table .activity{
    height: 42px;
    margin-bottom: 2px;
    background: var(--white);
    text-align: center;
}

.activities{
    background: url("/svgs/leaderboard.svg");
    background-position-x: 50%;
    height: 450px;
    overflow-y: scroll;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

td span,
.options form button{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    padding: 3px 8px;
    background: var(--main);
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1em;
}

.activity ~ section.description{
    width: 400%;
    height: 0;
    overflow: hidden;
    background: var(--white);
    transition: 250ms all;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    border-bottom: 2px solid var(--light-gray2);
}

.activity ~ section.description.viewed{
    height: fit-content;
}

section.description span.description{
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 8px 12px 8px;
    line-height: 19px;
} 

section.description .details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.graphContainer{
    width: 45%;
    position: relative;
}

.graphContainer .canvasContainer{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mobileOnly.activities{
    background: red;
}

.mobileOnly.activities .activity{
    background: var(--white);
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.mobileOnly.activities .activity:not(:last-of-type){
    border-bottom: 1px solid var(--gray);
}

.mobileOnly.activities .activity .title{
    font-size: 1.3em;
    font-weight: 500;
}

.activity .title::first-letter,
.activity .description::first-letter,
span.description::first-letter{
    text-transform: capitalize;
}

.mobileOnly.activities .activity footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileOnly.activities .activity footer span{
    font-weight: 500;
}

.mobileOnly.activities .activity footer button{
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 28px;
    aspect-ratio: 1;
}

.mobileOnly.activities .activity .description a{
    color: var(--main);
    text-decoration: none;
    font-weight: 500;
}

.checkmark {
    display: none;
}

.checkmark.draw{
    display: initial;
}

.checkmark::after{
    opacity: 1;
    height: 0px;
    width: 0px;
    transform-origin: left top;
    border-right: 2px solid green;
    border-top: 2px solid green;
    content: '';
    left: 10%;
    top: 50%;
    position: absolute; 
}

.checkmark.draw::after {
    animation: checkmark 800ms ease forwards;
    transform: scaleX(-1) rotate(135deg);
}  

@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 8px;
      opacity: 1;
    }
    40% {
      height: 16px;
      width: 8px;
      opacity: 1;
    }
    100% {
      height: 16px;
      width: 8px;
      opacity: 1;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    .achievements .statContainer{
        width: 40%;
        aspect-ratio: 3 / 2;
        min-width: 0;
    }

    .activityListContainer{
        width: 90%;
    }

    .boxContainer{
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        margin-top: 5%;
    }

    main{
        overflow-y: scroll;
    }

    .activities{
        max-height: calc(100% - var(--navbar-height) - 430px);
    }
}
