@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

:root{
    caret-color: transparent;
    --white: #F9F7F7;
    --black: #3F4756;
    --gray: #999;
    --light-gray: #eee;
    --main: #1C7293;
    --main2: #22c1c3;
    --dark: #112D4E;
}

.hidden{
    display: none;
}
