
::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-track-piece{
    background: var(--light-gray2);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    height: calc(100% - var(--navbar-height));
    gap: 20px;
    background: var(--white-gray);
}

main .title{
    font-size: 1.7em;
    margin-left: 24px;
}

.leaderboardContainer{
    height: 85%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-gray2);
    border-radius: 4px;
}

.header,
.rank{
    height: 40px;
    text-align: center;
}

.rank td > a{
    text-decoration: none;
    color: var(--main);
}

.header{
    background: var(--light-gray2);
}

.leaderboard{
    background: url("/svgs/leaderboard.svg"), var(--white);
    background-position-x: 50%;
    height: 100%;
    overflow-y: scroll;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.rankTable .rank{
    background: var(--white);
    border-bottom: 2px solid var(--light-gray2);
}

.rankNumber{
    width: 36px;
    display: inline-block;
    padding: 2px 0;
    border-radius: 4px;
    position: relative;
}

.rankNumber::before{
    content: '';
    top: 2px;
    left: 2px;
    aspect-ratio: 1;
    height: 10px;
    position: absolute;
    background: url("/svgs/hash.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.rankNumber.top10{
    background: var(--rank3);
}

.rankNumber.top3{
    background: var(--rank2);
}

.rankNumber.leader{
    background: var(--rank1);
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    .rankNumber::before{
        content: none;
    }
}